
.heder-container{
  height: 10rem;
  width: 900px;
  display: grid;
  grid-template-columns: 60% 20% 20%;
  align-items: center;
  
}

.heder__container-btns{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header_btn_shoppin-cart,
.header_btn_fav,
.header_btn_alerts {
  text-align: center;
  display: grid;
  place-content: center;
  padding-left: 0.4rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: var(--font-size-l);
  color: var(--color-black);
  box-shadow: var(--box-shadow-extern);

}
.header_btn_shoppin-cart:hover,
.header_btn_fav:hover,
.header_btn_alerts:hover{
  color: var(--color-light);
  box-shadow: var(--box-shadow-intern);
}

