

.brands{
  margin-top: 4rem;
  max-width: 1200px;
}
.brands__title{
  width: 100%;
  text-align: center;
  font-size: var(--font-size-m);
}
.container-brands {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6rem;
  margin-top: 4rem;
  cursor: pointer;
}
.brand__card {
  display: grid;
  place-content: center;
  width: 168px;
  height: 168px;
  border-radius: 27px;
  background: #F3F3F1;
  box-shadow: var(--box-shadow-extern);
  transition: 250ms;
}
.brand__card:hover{
  box-shadow: var(--box-shadow-intern);
}
.brand__card_img{
  width: 150px ;
  height: 150px;
  border-radius: 50%;
  
}

