

.header__user{
  display: flex;
  align-items: center;
  gap: var(--l);
}
.header__user p{
  font-size: var(--font-size-s);
  font-weight: 500;
}

.header__btn-user{
  display: grid;
  place-content: center;
  width: 60px;
  height: 60px;
  padding: 2px;
  border-radius: 50%;
  font-size: var(--font-size-m);
  color: var(--color-main);
  box-shadow: var(--box-shadow-extern);
  font-size: var(--font-size-l);
  cursor: pointer;
  
}
.header__btn-user:hover{
  color: var(--color-light);
  box-shadow: var(--box-shadow-intern);

}

.userLabel{
  display: flex;
  flex-direction: column;
  text-align: end;
}

