

.container{
  display: flex;
  flex-direction: column;
  width:  100%;
  padding: 2rem;
  margin-left: 150px;
  
}
.header{
  width: 98%;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}.container_page_product{
  display: flex;
  flex-direction: column;
}

.catalogo_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--s);

}