
/* -------------------------- contenerdor principal ------------------------- */
.menu_container{
  width: 16rem;
  height: 100vh;
  background-color: var(--color-light);
  position: fixed;

}

.menu__nav{

}
.menu__img_container{
  display:grid;
  place-content: center;
  padding: var(--m);
}
.menu__img_icon{
  width: 8rem;
}

.menu__options_container{
  padding-left: var(--l);
  overflow: hidden;

  
}

.menu__item_text{
  display: grid;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  cursor: pointer;
  margin: var(--s) 0;
  /* transition: all 400ms; */
  color: var(--font-color-light);
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px black;



}

.menu__item_text:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: var(--color-main);
  font-weight: 500;
  border-radius:  20px 0px 0px 20px;
  box-shadow:var(--box-shadow-intern);
  background-color: var(--background-main);

}
i{
  margin-right:var(--s);

}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: var(--color-main);
  font-size: var(--font-size-s);
  font-weight: 500;
  border-radius:  20px 0px 0px 20px;
  box-shadow:var(--box-shadow-intern);
  background-color: var(--background-main);
}















