  


.container{
  display: flex;
  flex-direction: column;
  width:  1000px;
  margin-left: 160px;
  
}
.header{
  position: fixed;
  width: 1050px;
  height: 6rem;
  padding: 1rem;
  padding-right:5rem ;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10;
  background: #F3F3F1;

}
.container_category{
  width: 1050px;
  padding: 1rem;
  padding-right:5rem ;
  margin-top: 6rem;
  background: #F3F3F1;
  position: fixed;
  z-index: 9;




}
.container_page_product{
  display: flex;
  flex-direction: column;
}

.catalogo_container{
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--s);

}